---
repos:
- repo: https://github.com/asottile/add-trailing-comma.git
  rev: v2.0.1
  hooks:
  - id: add-trailing-comma

- repo: https://github.com/Lucas-C/pre-commit-hooks.git
  rev: v1.1.7
  hooks:
  - id: remove-tabs

- repo: git://github.com/Lucas-C/pre-commit-hooks-markup
  rev: v1.0.0
  hooks:
  - id: rst-linter
    exclude: >-
      (?x)
      CHANGES.rst
      |
      docs/
    files: >-
      ^.*\.rst$

- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v2.3.0
  hooks:
  # Side-effects:
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
    exclude: >-
      (?x)
      ^
        requirements/[^/]+.txt
      $
    files: >-
      (?x)
      ^
        requirements/[^/]+.in
      $

  # Non-modifying checks:
  - id: name-tests-test
    args:
    - --django
    exclude: cheroot/test/(helper|webtest|_pytest_plugin).py
    files: cheroot/test/.+\.py$
  - id: check-added-large-files
  - id: check-byte-order-marker
  - id: check-case-conflict
  # disabled due to pre-commit/pre-commit-hooks#159
  #- id: check-docstring-first
  - id: check-json
  - id: check-symlinks
  - id: check-yaml
    args:
    - --unsafe
  - id: detect-private-key

  # Heavy checks:
  - id: check-ast
  - id: debug-statements

- repo: https://github.com/PyCQA/pydocstyle.git
  rev: 6.1.1
  hooks:
  - id: pydocstyle

- repo: https://gitlab.com/PyCQA/flake8.git
  rev: 4.0.1
  hooks:
  - id: flake8
    language_version: python3
    additional_dependencies:
    - flake8-2020>=1.6.0
    - flake8-docstrings
    - flake8-pytest-style>=1.0.0
    - wemake-python-styleguide ~= 0.16.0

- repo: https://github.com/Lucas-C/pre-commit-hooks-lxml.git
  rev: v1.1.0
  hooks:
  - id: forbid-html-img-without-alt-text

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v0.910-1
  hooks:
  - id: mypy
    name: MyPy, for Python 3.5
    additional_dependencies:
    - types-backports
    - types-pyOpenSSL
    - types-requests
    - types-six
    args:
    - --install-types
    - --non-interactive
    - --python-version=3.5
    - --txt-report=.tox/.tmp/.mypy/
    - cheroot/
    pass_filenames: false
  - id: mypy
    name: MyPy, for Python 2.7
    additional_dependencies:
    - typed-ast
    - types-backports
    - types-pyOpenSSL
    - types-requests
    - types-six
    - typing
    args:
    - --install-types
    - --non-interactive
    - --python-version=2.7
    - --txt-report=.tox/.tmp/.mypy/
    - cheroot/
    pass_filenames: false

- repo: https://github.com/PyCQA/pylint.git
  rev: v2.11.1
  hooks:
  - id: pylint
    additional_dependencies:
    - jaraco.context
    - jaraco.functools
    - jaraco.text
    - more_itertools
    - portend
    - pylint-pytest < 1.1.0
    - pypytools
    - requests_toolbelt
    - requests_unixsocket
    - six
    - Sphinx
