---

ci:
  autoupdate_schedule: quarterly

repos:
- repo: local
  hooks:
  - id: changelogs-rst
    name: changelog filenames
    language: fail
    entry: >-
      Changelog files must be named
      ####.(
      bugfix
      | feature
      | deprecation
      | breaking
      | doc
      | packaging
      | contrib
      | misc
      )(.#)?(.rst)?
    exclude: >-
      (?x)
      ^
        docs/changelog-fragments.d/(
          \.gitignore
          |(\d+|[0-9a-f]{8}|[0-9a-f]{7}|[0-9a-f]{40}|\+[^.]+)\.(
            bugfix
            |feature
            |deprecation
            |breaking
            |doc
            |packaging
            |contrib
            |misc
          )(\.\d+)?(\.rst)?
          |README\.rst
          |\.towncrier-template\.rst\.j2
        )
      $
    files: ^docs/changelog-fragments\.d/
    types: []
    types_or:
    - file
    - symlink
  - id: changelogs-user-role
    name: Changelog files should use a non-broken :user:`name` role
    language: pygrep
    entry: :user:([^`]+`?|`[^`]+[\s,])
    pass_filenames: true
    types:
    - file
    - rst

- repo: https://github.com/Kludex/no-optional.git
  rev: 0.4.0
  hooks:
  - id: no_optional

- repo: https://github.com/astral-sh/ruff-pre-commit.git
  rev: v0.13.3
  hooks:
  - id: ruff
    args:
    # Ref: https://docs.astral.sh/ruff/formatter/#conflicting-lint-rules
    - --fix  # NOTE: When `--fix` is used, linting should be before ruff-format

- repo: https://github.com/astral-sh/ruff-pre-commit.git
  rev: v0.13.3
  hooks:
  - id: ruff-format
    alias: ruff-format-first-pass
    name: ruff-format (first pass)

- repo: https://github.com/asottile/add-trailing-comma.git
  rev: v3.2.0
  hooks:
  - id: add-trailing-comma

- repo: https://github.com/astral-sh/ruff-pre-commit.git
  rev: v0.13.3
  hooks:
  - id: ruff-format
    alias: ruff-format-second-pass
    name: ruff-format (second pass)

- repo: https://github.com/Lucas-C/pre-commit-hooks.git
  rev: v1.5.5
  hooks:
  - id: remove-tabs

- repo: https://github.com/python-jsonschema/check-jsonschema.git
  rev: 0.34.0
  hooks:
  - id: check-github-workflows
    files: ^\.github/workflows/[^/]+$
    types:
    - yaml
  - id: check-jsonschema
    name: Check GitHub Workflows set timeout-minutes
    args:
    - --builtin-schema
    - github-workflows-require-timeout
    files: ^\.github/workflows/[^/]+$
    types:
    - yaml
  - id: check-readthedocs

- repo: https://github.com/Lucas-C/pre-commit-hooks-markup.git
  rev: v1.0.1
  hooks:
  - id: rst-linter
    exclude: >-
      (?x)
      \.github/CONTRIBUTING\.rst
      |
      CHANGES\.rst
      |
      docs/
    files: >-
      ^.*\.rst$

- repo: https://github.com/pre-commit/pre-commit-hooks.git
  rev: v6.0.0
  hooks:
  # Side-effects:
  - id: trailing-whitespace
  - id: check-merge-conflict
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  # disabled because it doesn't make sense to change pip-tools-managed files
  # - id: requirements-txt-fixer
  #   exclude: >-
  #     (?x)
  #     ^
  #       dependencies/[^/]+.txt
  #     $
  #   files: >-
  #     (?x)
  #     ^
  #       dependencies/[^/]+.in
  #     $

  # Non-modifying checks:
  - id: name-tests-test
    args:
    - --django
    exclude: cheroot/test/(helper|webtest|_pytest_plugin).py
    files: cheroot/test/.+\.py$
  - id: check-added-large-files
  - id: check-case-conflict
  # disabled due to pre-commit/pre-commit-hooks#159
  # - id: check-docstring-first
  - id: check-json
  - id: check-symlinks
  - id: check-yaml
    args:
    - --unsafe
  - id: detect-private-key

  # Heavy checks:
  - id: check-ast
  - id: debug-statements

- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
  - id: yamllint
    types:
    - file
    - yaml
    args:
    - --strict

- repo: https://github.com/PyCQA/flake8.git
  rev: 7.3.0
  hooks:
  - id: flake8
    additional_dependencies:
    - darglint ~= 1.8.1
    - flake8-2020 ~= 1.8.1
    - flake8-annotations ~= 3.2.0
    - flake8-length ~= 0.3.1
    - flake8-logging-format ~= 2024.24.12
    - flake8-pytest-style ~= 2.1.0
    - flake8-spellcheck ~= 0.28.0
    - wemake-python-styleguide ~= 1.4.0

    # `flake8-logging-format` is incompatible with Python 3.12+
    # * https://github.com/globality-corp/flake8-logging-format/issues/80
    #
    # `flake8-pytest-style` is incompatible with Python 3.13+ due to
    # `flake8-plugin-utils` accessing removed things:
    # * https://github.com/m-burst/flake8-pytest-style/issues/361
    # * https://github.com/afonasev/flake8-plugin-utils/issues/94
    #
    language_version: python3.11

- repo: https://github.com/Lucas-C/pre-commit-hooks-lxml.git
  rev: v1.1.0
  hooks:
  - id: forbid-html-img-without-alt-text

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v1.18.2
  hooks:
  - id: mypy
    alias: mypy-py314
    name: MyPy, for Python 3.14
    additional_dependencies:
    - lxml  # dep of `--txt-report`, `--cobertura-xml-report` & `--html-report`
    args:
    - --python-version=3.14
    - --any-exprs-report=.tox/.tmp/.test-results/mypy--py-3.14
    - --cobertura-xml-report=.tox/.tmp/.test-results/mypy--py-3.14
    - --html-report=.tox/.tmp/.test-results/mypy--py-3.14
    - --linecount-report=.tox/.tmp/.test-results/mypy--py-3.14
    - --linecoverage-report=.tox/.tmp/.test-results/mypy--py-3.14
    - --lineprecision-report=.tox/.tmp/.test-results/mypy--py-3.14
    - --txt-report=.tox/.tmp/.test-results/mypy--py-3.14
    pass_filenames: false
  - id: mypy
    alias: mypy-py312
    name: MyPy, for Python 3.12
    additional_dependencies:
    - lxml  # dep of `--txt-report`, `--cobertura-xml-report` & `--html-report`
    - types-backports
    - types-pyOpenSSL
    - types-requests
    args:
    - --python-version=3.12
    - --any-exprs-report=.tox/.tmp/.test-results/mypy--py-3.12
    - --cobertura-xml-report=.tox/.tmp/.test-results/mypy--py-3.12
    - --html-report=.tox/.tmp/.test-results/mypy--py-3.12
    - --linecount-report=.tox/.tmp/.test-results/mypy--py-3.12
    - --linecoverage-report=.tox/.tmp/.test-results/mypy--py-3.12
    - --lineprecision-report=.tox/.tmp/.test-results/mypy--py-3.12
    - --txt-report=.tox/.tmp/.test-results/mypy--py-3.12
    pass_filenames: false
  - id: mypy
    alias: mypy-py310
    name: MyPy, for Python 3.10
    additional_dependencies:
    - lxml  # dep of `--txt-report`, `--cobertura-xml-report` & `--html-report`
    - types-backports
    - types-pyOpenSSL
    - types-requests
    args:
    - --python-version=3.10
    - --any-exprs-report=.tox/.tmp/.test-results/mypy--py-3.10
    - --cobertura-xml-report=.tox/.tmp/.test-results/mypy--py-3.10
    - --html-report=.tox/.tmp/.test-results/mypy--py-3.10
    - --linecount-report=.tox/.tmp/.test-results/mypy--py-3.10
    - --linecoverage-report=.tox/.tmp/.test-results/mypy--py-3.10
    - --lineprecision-report=.tox/.tmp/.test-results/mypy--py-3.10
    - --txt-report=.tox/.tmp/.test-results/mypy--py-3.10
    pass_filenames: false

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v1.14.1  # the last MyPy version to support Python 3.8
  hooks:
  - id: mypy
    alias: mypy-py38
    name: MyPy 1.14.1, for Python 3.8
    additional_dependencies:
    - lxml  # dep of `--txt-report`, `--cobertura-xml-report` & `--html-report`
    - types-backports
    - types-pyOpenSSL
    - types-requests
    args:
    - --python-version=3.8
    - --any-exprs-report=.tox/.tmp/.test-results/mypy--py-3.8
    - --cobertura-xml-report=.tox/.tmp/.test-results/mypy--py-3.8
    - --html-report=.tox/.tmp/.test-results/mypy--py-3.8
    - --linecount-report=.tox/.tmp/.test-results/mypy--py-3.8
    - --linecoverage-report=.tox/.tmp/.test-results/mypy--py-3.8
    - --lineprecision-report=.tox/.tmp/.test-results/mypy--py-3.8
    - --txt-report=.tox/.tmp/.test-results/mypy--py-3.8
    - cheroot/
    pass_filenames: false

- repo: https://github.com/pre-commit/mirrors-mypy.git
  rev: v1.18.2
  hooks:
  - id: mypy
    alias: mypy-stubtest
    name: MyPy stubtest
    additional_dependencies:
    - .
    - jaraco.functools
    - pyOpenSSL
    # FIXME: Python 3.13+ causes a lot of
    # FIXME: __firstlineno__/__static_attributes__ is not present in stub
    language_version: python3.12
    entry: python -m mypy.stubtest
    args:
    - cheroot
    - --mypy-config-file=.mypy.ini
    - --allowlist=stubtest_allowlist.txt
    pass_filenames: false
    types_or:
    - python
    - text
    files: >-
      (?x)
      ^
        (
          .*\.pyi?
          |
          cheroot/py\.typed
          |
          stubtest_allowlist\.txt
        )
      $

- repo: https://github.com/PyCQA/pylint.git
  rev: v3.3.9
  hooks:
  - id: pylint
    additional_dependencies:
    - jaraco.context
    - jaraco.functools
    - jaraco.text
    - more_itertools
    - portend
    - pylint-pytest ~= 2.0.0a0
    - pyOpenSSL  # needed by pylint-pytest since it picks up pytest's args
    - pypytools
    - pytest-cov  # needed by pylint-pytest since it picks up pytest's args
    - pytest-mock  # needed by pylint-pytest since it picks up pytest's args
    - >-  # needed by pylint-pytest since it picks up pytest's args
      pytest-rerunfailures
    - pytest-xdist  # needed by pylint-pytest since it picks up pytest's args
    - requests_toolbelt
    - requests_unixsocket
    - Sphinx
    - trustme  # needed by pylint-pytest since it picks up pytest's args

...
